<?php
class Create{CLASS_NAME}Migration extends \RobinTheHood\Migration\ActiveRecord
{
    public function up()
    {
        $this->createTable('{TABLE_NAME}', [
{ATTRIBUTES}
        ]);
    }

    public function down()
    {
        $this->dropTable('{TABLE_NAME}');
    }
}
