<?php
namespace App\Models\Base;

use RobinTheHood\PhpFramework\Database\DatabaseObject\DatabaseObject;
use RobinTheHood\DateTime\DateTime;
{LOAD_FILES}

class {CLASS_NAME}Base extends DatabaseObject
{
{ATTRIBUTES}

    /************
    *    SET    *
    *************/
{SET_FUNCTIONS}

    /************
    *    GET    *
    *************/
{GET_FUNCTIONS}

    /************
    *    IS    *
    *************/
{IS_FUNCTIONS}

    /**************************
    *    GET-SINGEL-OBJECT    *
    ***************************/
{GET_OBJ_FUNCTIONS}

    /************************
    *    GET-ALL-OBJECTS    *
    *************************/
{GET_OBJS_FUNCTIONS}
}
